@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Space+Mono:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Space Mono', monospace;
 
}

.header-paragraph {
margin: 2rem 7rem;
}
.container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 2rem ;
  margin: 0 auto;

}
.scare-crow {
  width: 40%;
}
.scare-crow>img {
  width: 500px;
}
 .page-text {
  width: 40%;
  
  margin-top: 4rem;
}
.page-text h1 {
  width: 72%;
}
.page-text p {
  margin-top: 2rem;
  width: 66%;
  line-height: 1.5rem;
}
.btn-homepage {
  margin-top: 3.5rem;
  padding: 1rem 0.5rem;
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  border: none;
}
footer {
  position: absolute;
  width: 100vw;
  bottom: 0;

}
footer>p {
  width: 100%;
  text-align: center;
  
}

@media screen and (max-width: 765px) {
  .header-paragraph {
    padding: 1rem;
    margin: 0;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .scare-crow {
    display: grid;
    place-content: center;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  .scare-crow>img {
    width: 290px;
  }

  
  .btn-homepage {
    padding: 1rem 1.5rem;
  }
  .page-text {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
 .page-text>h1 {
   width: 100%;
 }
 .page-text>p {
   width: 100%;
 }

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
}




}





